[submodule "pack/bundle/start/vim-dispatch"]
	path = pack/bundle/start/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
	branch = job
[submodule "pack/bundle/start/dbext.vim"]
	path = pack/bundle/start/dbext.vim
	url = https://github.com/vim-scripts/dbext.vim.git
[submodule "pack/bundle/start/taboo.vim"]
	path = pack/bundle/start/taboo.vim
	url = https://github.com/gcmt/taboo.vim.git
[submodule "pack/bundle/start/lightline.vim"]
	path = pack/bundle/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "pack/bundle/start/vim-polyglot"]
	path = pack/bundle/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "pack/bundle/start/vim-editorconfig"]
	path = pack/bundle/start/vim-editorconfig
	url = https://github.com/sgur/vim-editorconfig.git
[submodule "pack/bundle/start/vim-abolish"]
	path = pack/bundle/start/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "pack/themes/opt/solarized8"]
	path = pack/themes/opt/solarized8
	url = https://github.com/lifepillar/vim-solarized8.git
[submodule "pack/bundle/start/coc"]
	path = pack/bundle/start/coc
	url = https://github.com/neoclide/coc.nvim.git
	branch = release
