[submodule "repo/solarized"]
	path = repo/solarized
	url = https://github.com/altercation/solarized.git
[submodule "pack/bundle/start/fzf"]
	path = pack/bundle/start/fzf
	url = https://github.com/junegunn/fzf
[submodule "pack/bundle/start/vim-dispatch"]
	path = pack/bundle/start/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
	branch = job
[submodule "pack/bundle/start/dbext.vim"]
	path = pack/bundle/start/dbext.vim
	url = https://github.com/vim-scripts/dbext.vim.git
[submodule "pack/bundle/start/taboo.vim"]
	path = pack/bundle/start/taboo.vim
	url = https://github.com/gcmt/taboo.vim.git
[submodule "pack/bundle/start/vim-colors-solarized"]
	path = pack/bundle/start/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "pack/bundle/start/ale"]
	path = pack/bundle/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "pack/bundle/start/vim-lsc"]
	path = pack/bundle/start/vim-lsc
	url = https://github.com/natebosch/vim-lsc.git
[submodule "pack/bundle/start/supertab"]
	path = pack/bundle/start/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "pack/bundle/start/lightline.vim"]
	path = pack/bundle/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "pack/bundle/start/vim-polyglot"]
	path = pack/bundle/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "pack/bundle/start/vim-editorconfig"]
	path = pack/bundle/start/vim-editorconfig
	url = https://github.com/sgur/vim-editorconfig.git
[submodule "pack/bundle/start/typescript-vim"]
	path = pack/bundle/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
